<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>云图数字图书馆</title>
<script type="text/javascript">
	var base = "${base}";
</script>
<link rel="shortcut icon" href="../favicon.ico">

<!--
	作者：412743165@qq.com
	时间：2017-06-20
	描述：css
-->
<link href="${base}/front/css/base.css" rel="stylesheet" type="text/css" />
<link href="${base}/front/css/main.css" rel="stylesheet" type="text/css" />
<link href="${base}/front/css/smoothness/jquery-ui-1.8.20.smoothness.css" rel="stylesheet" type="text/css" />

<!--
	作者：412743165@qq.com
	时间：2017-06-20
	描述：js
-->
<script type="text/javascript" src="${base}/front/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${base}/front/js/jquery/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${base}/front/js/jquery/jquery.easyui.extend.js"></script>
<script type="text/javascript" src="${base}/front/js/jquery/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="${base}/front/js/jquery/jquery-hashchange/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="${base}/front/js/jquery/jquery.md5.js"></script>
<script type="text/javascript" src="${base}/front/js/jquery/jquery.wresize.js"></script>