body {
	border-left: 1px solid #E7EBEF;
}

.path_module {
	color: #222;
}

.path_right a {
	font-weight: 600;
	color: #222;
}

.main {
	border: 0px solid #F7F3F7;
}

.main input[type="text"] {
	background: #FFFFFF;
}

.search .search_button .btn_orange {
	width: 100px;
	height: 24px;
	color: #fff;
	letter-spacing: 1px;
	background: #00A2DE;
	border: 0px solid #F7F3F7;
}

.search .search_button .btn_orange:hover {
	width: 100px;
	height: 24px;
	color: #fff;
	letter-spacing: 1px;
	background: #6AD0F6;
	border: 0px solid #F7F3F7;
}