@import url("frame.opac.css");

	
			  
.login_middle{background:url(../images/login_middle_bg.png) no-repeat;
              width:958px;
			  height:475px;
			  overflow:hidden;
			  margin:0 auto;}			  				   
			  
			  
.login_note{padding:315px 0 0 127px;
            line-height:20px;
			color:#667081;
			width:393px;
			float:left;
			text-align:left;}
			
			
.login_form{width:260px;
            height:auto;
			float:left;
			display:inline;
			margin:150px 0 0 110px;
			text-align:left;}			
.login_form li{margin-bottom:16px;
               padding-left:58px;}
.login_form .login_user, .login_form .login_password{padding-left:0;}
.login_user input, .login_password input{
                  border:#b5d9ec 1px solid;
				  width:150px;
				  height:28px;
				  overflow:hidden;
				  padding:4px 0 0 30px;}
.login_user input{background:url(../images/icon_btn_user.jpg) no-repeat 8px 5px #fff;}
.login_password input{background:url(../images/icon_btn_password.jpg) no-repeat 8px 8px #fff;}				  	
				  		   			
.btn_login, .btn_login_back{
           width:138px;
		   height:38px;
		   border:none;
		   cursor:pointer;}		
.btn_login{background:url(../images/btn_login.jpg) no-repeat;}
.btn_login_back{background:url(../images/btn_back.jpg) no-repeat;}			
			
			
			
			
			
			
			
			
			
			
			
			
						  