@charset "utf-8";
/* CSS Document */
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea ,frame,frameset/* form elements 表单元素 */
{ /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
/* 设置默认字体 */
html,body{height:100%; margin:0px;} 
body{margin:0 auto; font-size:12px;}
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1.5 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
li, ol { list-style: none; }

/* 重置文本格式元素 */
u { text-decoration: none;}
a { text-decoration: none;}

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
 border-bottom: 1px dotted;
 cursor: help;
}
q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; vertical-align:middle;} /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */

button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置 hr */
hr {border: none;height: 1px;}

/* 清除浮动 */
.line{text-decoration:line-through;}
.clear { clear:both;}

.fleft {float:left; display:inline;}
.fright { float:right; display:inline;}


/* 字颜色 */
.blue{color:#006acc; text-decoration:none;}

a:hover{color:#ffa84a;}

.red{color:#900; text-decoration:none;}

.puButton{display: block;float: left;color: #416481;height:22px;line-height:16px; width:60px;}





