/*public*/
html{background:url(../images/desktop/bg.jpg) top center; height:100%; overflow-x:hidden;}
body{ font-size:14px; color:#FFF; padding:0px; margin:0px; overflow-x:hidden;}
a {font-size: 12px;color: #000;}
a:link,a:visited {color: #000;text-decoration: none;}
a:hover,a:active {text-decoration: none;color: #000;}

/*top*/
.indexTop{height:46px; background:url(../images/desktop/top-bg.png);}
.indexTop h1{float:left; padding:0px; margin:0px;}
.indexTop h1 img{float:left;}
.indexTop h1 span{display:block; float:left; padding:15px 0px 0px 30px}
.indexTop h1 span a{display:block; width:12px;height:12px; overflow:hidden; margin-right:15px; border:1px solid #999; float:left;}
.indexTop h1 span a.on{border:1px solid #FFF}
.indexTop h1 span a.blue{background:#09C}
.indexTop h1 span a.green{background:#0C3}
.indexTop h1 span a.red{background:#C00}
.indexTop h1 span a.yellow{background:#CC0}

.indexTop div{float:right; padding:0px; margin:0px; padding-top:12px; padding-right:15px; font-size:12px;}
.indexTop div span{display:inline-block; padding-left:20px; padding-right:5px}
.indexTop div span img{vertical-align:middle;}
.indexTop div a{color:#FFF;}
.indexTop div a:link, a:visited {color: #FFF;text-decoration: none;}
.indexTop div a.yellow{color:#efff00;}

/*bottom*/
.indexBottom{ position:fixed; width:100%; height:100px;left:0px; bottom:0px; text-align:center;_margin-top:30px;}
.indexBottom ul{margin:0px auto; width:650px;*width:600px; height:100px; list-style:none; padding:0px; position:relative;*padding-left:50px;}
.indexBottom ul li{display:inline-block; width:100px; height:100px; position:relative; *float:left;}
.indexBottom ul li a img{border:0px; width:100%}
.indexBottom ul li span{background:rgba(0,0,0,0.1); display:none; height:24px; line-height:24px; width:80px; left:20px; text-align:center;position:absolute; top:-25px;font-size:12px;}
.indexBottom ul div{width:650px; position:absolute; bottom:0px; left:0;*left:-25px; background:url(../images/desktop/tray-02.png) no-repeat; height:60px; overflow:hidden}


/*system*/
.systemTray{text-align:center; margin-top:97px;}
.systemTray h1{margin:0px; padding:0px;text-align:center}
.puButton{width:1090px; margin:20px auto 0px auto; list-style:none;padding:0px;overflow:auto;position:relative;}
.puButton .bg{width:1090px; height:40px; background:url(../images/desktop/tray-01.png) no-repeat; position:absolute; left:0px; top:60px;}
.puButton li{float:left; text-align:center; width:120px; position:relative;}
.puButton li span{margin:0px auto;width:86px; height:80px; text-align:center; display:none;position:absolute; left:17px; top:0px;background:url(../images/desktop/logo-bg.png); z-index:1}
.puButton li img{border:0px; z-index:1;position:relative;}
.puButton li a p{color:#FFF}

/*tray*/
.commonTray{text-align:center; margin-top:20px;position:relative; height:300px;}
.commonTray h1{margin:0px; padding:0px;text-align:center}
.commonTray .tab{display:block; width:20px; height:52px; cursor:pointer;position:absolute; top:100px;z-index:10;}
.commonTray .prev{left:10px;background:url(../images/desktop/btn-left.png) no-repeat;}
.commonTray .next{right:10px;background:url(../images/desktop/btn-right.png) no-repeat;}
.commonTray .tabList{margin:0px; padding:0px; position:absolute; left:48%; bottom:0px; text-align:center;list-style:none;  display:inline-block;}
.commonTray .tabList li{width:16px; height:17px; display:inline-block; overflow:hidden;padding:0px; margin:0px;background:url(../images/desktop/dot.png) no-repeat !important;_background:url(../images/desktop/dot.gif) no-repeat; cursor:pointer;float:left; margin-right:10px;}
.commonTray .tabList li.on{background:url(../images/desktop/dot-on.png) no-repeat !important;_background:url(../images/desktop/dot-on.gif) no-repeat;}

/*add logo*/
.addLogo{width:240px; position:absolute; top:70px; right:-240px; z-index:11;}
.addLogo .bg{ background:url(../images/desktop/addlogo-bg.png); width:240px; position:absolute; top:0px; left:0px;z-index:-1}
.addLogo h1{ width:40px; height:40px; margin:0px; padding:0px; position:absolute; top:-20px;  cursor:pointer;z-index:13}
.addLogo h1.add{background:url(../images/desktop/add.png);left:-40px;}
.addLogo h1.reduce{background:url(../images/desktop/reduce.png);left:-20px;display:none;}
.addLogo ul{ list-style:none;padding:0px;overflow:auto;position:absolute; top:0px; left:0px; width:240px; margin:0px; padding-top:15px;}
.addLogo ul li{float:left; text-align:center; width:120px; position:relative; cursor:pointer;}
.addLogo ul li span{margin:0px auto;width:86px; height:80px; text-align:center; display:none;position:absolute; left:17px; top:0px;background:url(../images/desktop/logo-bg-01.png);}
.addLogo ul li div{margin:0px auto;width:86px; height:80px; text-align:center; display:block;position:absolute; left:17px; top:0px; display:none;background:url(../images/desktop/logo-bg-02.png);z-index:15}
.addLogo ul li img{border:0px; z-index:1;position:relative;}
.addLogo ul li p{color:#FFF; padding:0px; margin:0px; font-size:12px; text-align:center; height:30px; line-height:24px;}






