input{background:url(../images/input_bg.gif) repeat-x;
      border:#cbd4d6 solid 1px;
	  height:20px;
	  line-height:20px;
	  padding:0 5px;
	  width:110px;
	  overflow:hidden;}

select{height:22px; line-height:22px;}
	  
textarea{background:url(../images/input_bg.gif) repeat-x top #fff;
      border:#cbd4d6 solid 1px;
	  height:auto;
	  line-height:22px;
	  padding:0 5px;
	  width:300px;
	  overflow-y:scroll;
	  overflow-x:auto;}

input:hover, textarea:hover{border:#68d8f4 1px solid;}

.input_none{border:none; 
            background:none; 
			width:auto; 
			height:auto;}	  			

.input_none:hover{border:none;}

input[type="radio"], input[type="checkbox"]{
margin: 6px 0 -2px;
padding: initial;
background-color: initial;
border: initial;
}

  
.input_btn{border:#ccc 1px solid;
           background:#eee;
		   width:30px;
		   height:20px;
		   margin:0 5px;
		   color:#024d67;
		   line-height:16px;}
		   	
.input_btn:hover{background:#FFC;}	

.input_in{border:#ccc 1px solid;
          background:#fafafa;
		  width:30px;
		  height:18px;
		  line-height:18px;
		  margin:0 5px;}

     

body{
/*scrollbar-arrow-color: #494949; 图6,三角箭头的颜色*/

scrollbar-face-color: #e1e1e1; /*图5,立体滚动条的颜色*/

scrollbar-3dlight-color: #f8f8f8; /*图1,立体滚动条亮边的颜色*/

scrollbar-highlight-color: #f8f8f8; /*图2,滚动条空白部分的颜色*/

scrollbar-shadow-color: #cfcfd1; /*图3,立体滚动条阴影的颜色*/

scrollbar-darkshadow-color: #f8f8f8; /*图4,立体滚动条强阴影的颜色*/

scrollbar-track-color: #eee; /*图7,立体滚动条背景颜色*/
 
scrollbar-base-color:#f8f8f8; /*滚动条的基本颜色*/
}




/****** 中间按钮 *****/
.btn_gray{background:url(../images/button/btn_grayInput_bg.gif) repeat-x;
               height:22px;
			   width:auto;
			   padding:0 8px 0 10px;
			   overflow:hidden;
			   border:#8091a6 1px solid;
			   color:#072740;
			   cursor:pointer;}
.btn_gray:hover{background:url(../images/button/btn_grayInput_bg2.gif) repeat-x; border:#8091a6 1px solid;}			   

