<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>云图数字图书馆</title>
<script type="text/javascript">
	var base = "${base}";
</script>
<style type="text/css">
.radioClass {
	width: 12.8px !important;
	height: 12.8px !important;
}
</style>
<!-- css start -->
<link rel="stylesheet" href="${base}/default/css/public.css" />
<link rel="stylesheet" href="${base}/default/font/style.css" />
<link rel="stylesheet" href="${base}/default/css/dialog.css" />
<link rel="stylesheet" href="${base}/default/css/main.css" />
<!-- css end -->

<!-- js start -->
<script type="text/javascript" src="${base}/default/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="${base}/default/js/jquery-wenda-common.js"></script>
<script type="text/javascript" src="${base}/default/js/jquery-wenda-plugin.js"></script>